<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Volunteer Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/subwindow.css}" />
</head>
<body>
    <div class="container" sec:authorize="hasAnyAuthority('Teacher', 'Admin')">
        <div class="col-md-6">
        <br>
		<hr>
            <h1>Add a new task</h1>
            <form action="#" th:action="@{/todo}" th:object="${todoItem}" method="POST">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" th:field="*{description}" id="description"
                        placeholder="Description">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>

                <button type="submit" class="btn btn-success">Add Task</button>
            </form>
            <hr>
            <a th:href = "@{/todo_list}"> Back to Task List</a>
        </div>
    </div>
</body>

</html>