<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Volunteer Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!--  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">-->
<link rel="stylesheet" th:href="@{/css/users.css}" />
</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a> <a
					class="navbar-brand" href="#" th:href="@{/vlist}">Volunteer
					List</a> <a class="navbar-brand" href="#" th:href="@{/users}">Users
					List</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1 class="text-center">Tasks List</h1>
		<hr />
		<h3 th:text="|Happy ${today}|">Today</h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Actions</th>
					<th>Id</th>
					<th>Description</th>
					<th>Complete</th>
					<th>Created Date</th>
					<th>Modified Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${todoItems}"
					th:class="${item.complete} ? table-success : table-warning">
					<td>
						<div class="btn btn-group-sm" role="group">
							<a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}">Edit</a>
							<a class="btn btn-danger"
								th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
						</div>
					</td>
					<td th:text="${item.id}">item_id</td>
					<td th:text="${item.description}">item_description</td>
					<td th:text="${item.complete}">item_complete</td>
					<td th:text="${item.createdDate}">item_created_date</td>
					<td th:text="${item.modifiedDate}">item_modified_date</td>
				</tr>
			</tbody>
		</table>

		<p>
			<a class="btn btn-success" href="/create-todo">Add a Todo!</a>
		</p>
	</div>

	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</body>

</html>